/*消息提示框*/

div.messagebox {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -212.5px;
	margin-top: -55px;
	width: 425px;
	min-height: 40px;
	padding-bottom: 25px;
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 5px;
}

div.messagebox div.message-title {
	font-size: 16px;
}

div.messagebox div.message-context {
	font-size: 14px;
	margin-top: 16px;
	margin-bottom: 10px;
	min-height: 70px;
}

div.messagebox button {
	padding: 4px 12px;
	float: right;
	margin-left: 20px;
}

div.mask {
	position: fixed;
	z-index: 1999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.38);
}

button {
	background-color: #FFFFFF;
	border: pink solid 1px;
	color: #pink;
	font-size: 14px;
	outline: none;
	padding: 4px 10px;
	margin-top: -20px;
}
button:hover {
	cursor: pointer;
	color: #FFFFFF;
	background-color: pink;
}
/*button:active {
	background-color: #00B7D3;
	border-color: #00B7D3;
}*/